<h4>Internal Server Error!</h4>
@if (error) {
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you see this, then it's a server isue</p>
    <p>What to do next?</p>
    <ol>
        <li>Open Chrome dev tools and check the failing network request in the network tab</li>
        <li>Examine the URL of the failing request</li>
        <li>Reproduce the error in Postman or other similar api testing tools</li>
    </ol>
    <p class="font-weight-bold">Following is the stack trace - check the first 2 lines to see which line of code caused the problem!</p>
    <code class="mt-5" style="color:coral;">{{error.details}}</code>
}