<div class="card mb-4 bg-secondary bg-gradient">
    <div class="card-img-wrapper">
        <img src="{{member().photoUrl || '.assets/user.png'}}" alt="{{member().knownAs}}" class="card-img-top">
        <ul class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button routerLink="/members/{{member().username}}" class="btn btn-primary bg-gradient">
                    <i class="fa fa-user text-light"></i>
                </button>
            </li>
            <li class="list-inline-item">
                <button (click)="toggleLike()" class="btn btn-primary bg-gradient">
                    <i class="fa fa-heart text-danger"></i>
                </button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary bg-gradient" 
                        [queryParams]="{tab: 'Messages'}" 
                        routerLink="/members/{{member().username}}">
                    <i class="fa fa-envelope text-success"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
      <h6 class="card-title text-center text-body mb-1">
        <i class="fa fa-user me2 text-light"></i>
        {{member().knownAs}}, {{member().age}}
        @if (hasLiked()) {
            <i class="fa fa-heart ms-2 text-danger"></i>
        }
      </h6>
      <p class="card-text text-dark text-center">{{member().city}}</p>
    </div>
  </div>