.img-thumbnail {
    margin: 0.5%;
    width: 99%;
    height: 99%;
}

.card-body {
    padding: 0 4%;
}

.card-footer {
    padding: 10px 15px;
    border-top: none;
}

.like-message:hover i{
    -webkit-text-fill-color: rgb(45, 27, 57);
}