<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary bg-gradient">
    <div class="container">
        <a routerLink="/" routerLinkActive="active" class="navbar-brand text-body">Home</a>

        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            @if (accountService.currentUser()) {
            <li class="nav-item">
                <a routerLink="/members" routerLinkActive="active bg-gradient" class="nav-link text-body"> Matches</a>
            </li>
            <li class="nav-item">
                <a routerLink="/lists" routerLinkActive="active bg-gradient" class="nav-link text-body"> Lists</a>
            </li>
            <li class="nav-item">
                <a routerLink="/messages" routerLinkActive="active bg-gradient" class="nav-link text-body">
                    Messages</a>
            </li>
            }
            <li class="nav-item">
                <a routerLink="/errors" routerLinkActive="active bg-gradient" class="nav-link text-body">
                    Errors</a>
            </li>
        </ul>

        @if (accountService.currentUser()) {
        <div dropdown class="dropdown">
            <img src="{{accountService.currentUser()?.photoUrl || '.assets/user.png'}}"
                 alt="user main image"
                 class="me-2">
            <a dropdownToggle class="dropdown-toggle text-decoration-none nav-item">
                Welcome {{accountService.currentUser()?.knownAs}}
            </a>
            <div *dropdownMenu class="dropdown-menu bg-primary">
                <a routerLink="/member/edit" class="dropdown-item text">Edit Profile</a>
                <div class="dropdown-divider text"></div>
                <a class="dropdown-item text" (click)="logout()">Logout</a>
            </div>
        </div>
        }

        @if (!accountService.currentUser()) {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
                type="password">
            <button class="btn btn-outline-light form-control text-dark" type="submit">Login</button>
        </form>
        }
    </div>
</nav>