<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-light">
    <div class="container">
        <a routerLink="/" routerLinkActive="active" class="navbar-brand text-dark">Home</a>

        @if (accountService.currentUser()) {
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <ng-container>
                <li class="nav-item">
                    <a routerLink="/members" routerLinkActive="bg-primary bg-gradient" class="nav-link text-dark"> Matches</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/lists" routerLinkActive="bg-primary bg-gradient" class="nav-link text-dark"> Lists</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/messages" routerLinkActive="bg-primary bg-gradient" class="nav-link text-dark"> Messages</a>
                </li>
            </ng-container>
        </ul>
        }

        @if (accountService.currentUser()) {
        <div dropdown class="dropdown">
            <a dropdownToggle class="dropdown-togle text-dark text-decoration-none">
                Welcome {{accountService.currentUser()?.username | titlecase}}
            </a>
            <div *dropdownMenu class="dropdown-menu bg-light">
                <a class="dropdown-item text-dark" >Edit Profile</a>
                <div class="dropdown-divider text-dark"></div>
                <a class="dropdown-item text-dark" (click)="logout()">Logout</a>
            </div>
        </div>
        }

        @if (!accountService.currentUser()) {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="d-flex" autocomplete="off">
            <input name="username" [(ngModel)]="model.username" class="form-control me-2" placeholder="Username">
            <input name="password" [(ngModel)]="model.password" class="form-control me-2" placeholder="Password"
                type="password">
            <button class="btn bg-primary bg-gradient" type="submit">Login</button>
        </form>
        }
    </div>
</nav>